<div class="dialog-box">
    <form [formGroup]="userForm">
        <h1>{{data.name}} Details</h1>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input disabled="true" matInput [value]="data.email">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required >
                <mat-error>Name should not be {{userForm.value.name ? userForm.value.name: 'empty'}}</mat-error>
                <!-- <mat-error *ngIf="userForm.valu .errors?.['forbiddenName']">Name required</mat-error> -->
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
                <mat-error>username required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" required>
                <mat-error>city required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" required>
                <mat-error>phone number required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Website</mat-label>
                <input matInput formControlName="website" required>
                <mat-error>website url required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Company</mat-label>
                <input matInput formControlName="company" required>
                <mat-error>company name required</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div mat-dialog-actions>
        <button class="cancel" mat-button (click)="onNoClick()"><span style="color: white;">Cancel</span></button>
        <button class="ok" mat-button (click)="onOkClick()" ><span style="color: white;">OK</span></button>
    </div>
</div>