* {
    margin: 1px;
    display: fixed;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }



  .edit-button {
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #3e8e41;
  }
  